/**
* Flex
*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear: both;
}

/**
* Colors
*/

.color-white {
    color: #FFF;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-dark-blue {
    color: #050082;
}
.color-dark-green {
    color: #0e320d;
}
.color-dark-red {
    color: #7c0005;
}

.color-light-red {
    color: #ffd3d1;
}
.color-light-blue {
    color: #DEEEFF;
}
.color-light-green {
    color: #d8ffd8;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.position-relative {
    position: relative;
}

/*
input[type="checkbox"] {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    width: 0 !important;
}

input[type="checkbox"]:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    border: 2px solid #f2a889;
}

input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 1rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}

input[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 2.1rem;
    height: 2.1rem;
    background: #fff;
    cursor: pointer;
}
*/


.form-control, .input-group-addon, .selectize-input, .btn, .panel, .panel-heading {
    border-radius: 0 !important;
}


input[type="text"], input[type="password"], textarea, select {
    border: 1px #ccc solid;
    border-bottom: solid 1px !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
}

input[type="text"]:invalid, input[type="password"]:invalid, textarea:invalid {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #ff2d00 4%) !important;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ff2d00 4%) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    color: #107864;
    border-bottom: solid 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
{
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: bottom;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #1abc9c !important;
    font-size: 12px !important;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    visibility: visible !important;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.error-summary > p {
    color: #a94442;
    font-weight: bold;
    margin-bottom: 0;
}

.error-summary ul {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 5px 40px;
    font-weight: normal;
    list-style: none;
}

.error-summary li:before {
    content: "\f06a"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: #000;
}

.text-meta {
    font-size: 12px;
    color: #868e96;
}

.text-meta a {
    color: #868e96;
    cursor: pointer;
}

.text-wrapper {
    padding: 0 10px;
}

.img-thumbnail {
    margin:0 10px 0 0;
}


/** BOOTSTRAP 4(Alpha) */
select.form-control {
    padding-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto !important;
}

/** END BOOTSTRAP 4(Alpha) */
.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
}

.list-heading a {
    color:#466586;
}

.list-heading a:hover {
    color: #325286;
    text-decoration: dotted;
}

.list-post-rating {
    position: absolute;
    font-size: 16px;
    margin: 5px;
    opacity: 0.8;
}
