
/****/

.content-info,
.content-success,
.content-warning,
.content-question,
.content-error {
    position: relative;
    padding: 20px 10px 20px 70px;
}
.content-info:before,
.content-success:before,
.content-warning:before,
.content-question:before,
.content-error:before {
    position: absolute;
    top: 50%;
    width: 70px;
    margin-left: -70px;
    line-height: 0!important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}
.content-info {color: #00529b; background: #bde5f8;}
.content-info:before {content: "\f05a";}
.content-success {
    color: #4f8a10;
    /* background: #dff2bf; */
    border: 1px solid #ccc;
}
.content-success:before {content: "\f00c";}
.content-warning {
    color: #9f6000;
    /* background: #feefb3; */
    border: 1px solid #ccc;
}
.content-warning:before {content: "\f12a";color:#ff6f43;}
.content-error {
    color: #d63301;
    /* background: #ffccba; */
    border: 1px solid #ccc;
}
.content-error:before {content: "\f00d";}

.content-question {
    color: #0096c7;
    background: #ffffff;
    border: 1px solid #ccc;
}
.content-question:before {content: "\f059"; color: #007ea7;}