
/* -- Progress Line-- */
/* ========================================================
  Mixins
======================================================== */
/* ========================================================
  Progress Bar
======================================================== */
@-webkit-keyframes progress-bar-animate {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes progress-bar-animate {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.progress-outline {
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.7);
}
.progress-container {
    overflow: hidden;
    height: 2px;
}
.progress-bar-line {
    background: #2187e7;
    width: 0;
    height: 100%;
    float: left;
    border-radius: 10px 0 0 10px;
    -webkit-transition: width 1200ms ease;
    -moz-transition: width 1200ms ease;
    -o-transition: width 1200ms ease;
    transition: width 1200ms ease;
    -webkit-animation: progress-bar-animate 12s linear infinite;
    animation: progress-bar-animate 12s linear infinite;
}

/* -- Progress Line-- */