/*Load Indicator*/
.indicator-box {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #bbb;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: #eee;
    position: relative;
}

.loading-centered {
    background: url('./images/loader.svg') center center no-repeat white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
    z-index: 10000;
}


.loading-centered-contain {
    background: url(./images/loader.gif) center center no-repeat white;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    /* display: none; */
    z-index: 10000;
}

/* CheckBox style */
label.modern-before:before {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(./images/checkbox.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}

input[type=checkbox]:checked + label.modern-before:before {
    background-position: 0 -17px !important;
}

label.modern-before:hover:before {
    background-position: 0 -34px !important;
}

input[type=checkbox]:checked + label.modern-before:hover:before {
    background-position: 0 -51px !important;
}

/* -- Чекбоксы -- */
/* Upload Preview  */
.upload-input-image {

}

#image-holder {

}

.upload-thumb-image {
    float: left;
    height: 50px;
    position: relative;
    padding: 5px;
}

/* -- Upload Preview -- */

.jBox-Notice {
    white-space: nowrap;
}

.centered {
    margin: 0 auto;
}

.image-content-left {
    float:left;
    padding: 0 10px 0 0;
}

.image-content-right {
    float:right;
    padding: 0 10px 0 0;
}