/* -- Ripple-effect ----------------------------------- */
.btn, .ripple {
    position: relative;
    overflow: hidden
}

.btn:after, .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
}

.btn:active:after, .ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
}
/* RIPPLE */

.effect-blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.effect-invert {
    -webkit-filter: invert(100%);
}
.effect-sepia {
    -webkit-filter: sepia(100%);
}
.effect-bw {
    -webkit-filter: grayscale(100%) brightness(10%) contrast(100%);
}
